.question-feed-item {
    padding: 12px 12px 12px 10px
}

.question-feed-item .inline{
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.info-box {
    line-height: 10%;
}

.question-feed-item .content-box {
    padding-left: 20px;
}

.question-feed-item p, .info-box p {
    color: @brand-grey-plus-20;
    font-size: 80%;
}

.question-body p {
    color: @brand-grey-minus-20;
}